
#container{
    background-color: rgb(220 220 220) ;
    width:1366px;    
    padding : 100px ;
    margin : 100px 300px ;
  }
  
  #name{
    text-align : center ;
    font-family : fantasy ;
  }
  #introduction{
    text-align : center ;
    font-style : italic ;
    font-family : Georgia ; 
  }
  .picture{
    text-align : center;
    background-color : white;
    padding : 10px ;
    margin : 50px 100px ;
  }
  
  .pic{
    text-align : center ;
  }
  
  .description{
    margin : 10px 0 0 0;
  }
  
  #mainBody{
    margin: 30px 150px ;
    font-family : sans-serif ;
  }
  .title3{
    margin: 10px 0px 40px; 
  }
  p{
    font-size:16px ;
    padding:10px ;
  }
  
  .footConclusion{
    line-height : 220%;
  }
  
  .bottom{
    margin: 20px 50px 50px 50px;
    text-align : center ;
  }
  